*, *::after, *::before {
  box-sizing: border-box;
}

.related,
.outfit {
  position: relative;
  overflow: hidden;
  width: 1500px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.section-title {
  padding: 0 10vw;
  font-size: 20px;
  margin-bottom: 20px;
  width: 1500px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.outfit-list,
.related-products {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.outfit-list::-webkit-scrollbar,
.related-products::-webkit-scrollbar {
  display: none;
}

.pre-button,
.next-button {
  border: none;
  width: 10vw;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 9;
  font-size: 1.3rem;
  opacity: 0.5;
}

.pre-button {
  left: 0;
  transform: rotate(180deg);
}

.next-button {
  right: 0;
}

.pre-button:hover,
.next-button:hover {
  opacity: 1;
}

.card {
  flex: 0 0 auto;
  width: 250px;
  height: 400px;
  margin-right: 40px;
  border: 1px solid black;
}

.card-img {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.card-current-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-function-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px;
  width: 14%;
  height: 10%;
  background: none;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: white;
}

.card-img:hover .card-function-btn {
  opacity: 1;
}

.card-function-btn:hover {
  color: black;
}

#compare-overlay {
  position: fixed;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: all;
  z-index: 20;
}

.compare-modal {
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  border: 1px solid black;
  z-index: 30;
  background-color: white;
  width: 800px;
  max-width: 60%;
  padding: 10px 0;
}

.compare-title,
.compare-name,
.compare-features {
  position: relative;
  top: 0;
  width: 100%;
  text-transform: capitalize;
}

.compare-title {
  text-align: center;
}

.compare-name {
  height: 40px;
}

.compare-features {
  max-height: 30vh;
}

.compare-roll {
  position: relative;
  width: 100%;
  height: 20px;
}

.compare-current {
  position: absolute;
  left: 0;
  width: 300px;
  text-align: left;
  padding: 0 10px;
}

.feature-name {
  position: absolute;
  left: 300px;
  padding: 0 10px;
  width: 200px;
  text-align: center;
}

.compare-compare {
  position: absolute;
  right: 0;
  width: 300px;
  text-align: right;
  padding: 0 10px;
}

.card-info {
  width: 100%;
  height: 100%;
}

.card-category {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 5px;
  font-size: 13px;
}

.card-name {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
  font-size: 18px;
}

.current-price {
  font-size: 1rem;
  color: black;
  margin: 5px;
}

.sale-price {
  font-size: 1rem;
  color: red;
  margin: 5px;
}

.original-price {
  font-size: 0.75rem;
  text-decoration: line-through;
  color: black;
  margin: 5px;
}

.add-outfit-sign {
  font-size: 10rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 80%;
  padding: 25%;
}

.add-outfit-word {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  height: 20%;
  overflow: hidden;
  padding: 10%
}

.card-compare-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  max-width: 80%;
  height: 400px;
  max-height: 80%;
  z-index: 10;
  background-color: white;
  overflow-y: scroll;
}

.single-star-outline {
  height: 18px;
  width: 18px;
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 18px;
  background-color: black;
}

.single-star-container {
  height: 18px;
  width: 18px;
  display: inline-block;
}

.card-price {
  margin: 5px;
}

.star-rating {
  margin: 5px;
}

/* ================================
Reviews */
.containerAll {
  background-color: white;
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.breakdownAll{
  text-align: left;
}
.containerBreakdown {
  font-size: 70px;
  font-weight: bold;
}

.starReview{
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: left;
  list-style-type: none;
}

.starBar{
  background-color: white;
  color: #222;
  padding: 0.01em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.starBar::before{
  content:'';
  /* margin: 0; */
  position: absolute;
  height: 50px;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  z-index: -1;
  border: 2px solid rgb(240, 138, 94);
  transition: top, left, right, bottom, 100ms ease-in-out;
}

.starBar:hover::before,
.starBar:focus::before {
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: 1;
}

.star{
  top:4px;
  line-height: 2.5;
  text-align: left;
  position: relative;
}


.progress-bar{
  position: relative;
  border: none;
  position: relative;
  height: 0.5em;
  width: 200px;
  background: rgb(174, 171, 171);
  color: rgb(244, 244, 242);
  cursor: pointer;
}

.progress-bar.five::before {
  content: '';
  display: flex;
  position: absolute;
  height: .5em;
  left: 0;
  top: 00;
  bottom: 0;
  width: var(--star5-color);
  min-width: 0;
  max-width: 100%;
  background-color: rgb(54, 162, 54);
}

.progress-bar.four::before {
  content: '';
  display: flex;
  position: absolute;
  height: .5em;
  left: 0;
  top: 00;
  bottom: 0;
  width: var(--star4-color);
  min-width: 0;
  max-width: 100%;
  background-color: rgb(54, 162, 54);
}

.progress-bar.three::before {
  content: '';
  display: flex;
  position: absolute;
  height: .5em;
  left: 0;
  top: 00;
  bottom: 0;
  width: var(--star3-color);
  min-width: 0;
  max-width: 100%;
  background-color: rgb(54, 162, 54);
}

.progress-bar.two::before {
  content: '';
  display: flex;
  position: absolute;
  height: .5em;
  left: 0;
  top: 00;
  bottom: 0;
  width: var(--star2-color);
  min-width: 0;
  max-width: 100%;
  background-color: rgb(54, 162, 54);
}

.progress-bar.one::before {
  content: '';
  display: flex;
  position: absolute;
  height: .5em;
  left: 0;
  top: 00;
  bottom: 0;
  width: var(--star1-color);
  min-width: 0;
  max-width: 100%;
  background-color: rgb(54, 162, 54);
}